<% provide(:title, "Documentation") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | OpenSCADpm </title>
  </head>
  <body>
    <h1>Documentation</h1>
    <p>Comprehensible OpenSCADpm Tutorials</p> 
  </body>
</html>

