<% provide(:title, "Support") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | OpenSCADpm</title>
  </head>
  <body>
    <h1>Contact Us</h1>
    <p>
    The number of packages for OpenSCAD is growing rapidly. Please let us know should you like to implement a missing feature.
    </p>
  </body>
</html>

